button {
    border: none;
    background-color: rgb(68, 57, 138);
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
  }
  
  button:hover {
    background-color: rgb(35, 26, 93);
  }
  
  .equals {
    grid-column: 3 / 5;
    background-color: rgb(171, 49, 28);
  }
  
  .equals:hover {
    background-color: rgb(228, 39, 15);
  }